<html>
    <head>
        <title>admin users</title>
    </head>
    <body>
        <table>
            <form action="." method="post" name="form"> {% csrf_token %}
            <tr><td><input type="submit" value="delete selected"></td><td>{{users.count}}</td></tr>
            {% for u in users reversed %}
            <tr style="outline: thin solid">
                <td>&nbsp;<input type="checkbox" name="delete_list" value="{{u.username}}">&nbsp;<a href="/delete_user/{{u.username}}">delete</a></td>
                <td><a href="/user/{{u.username}}">{{u.username}}</a></td>
            </tr>
            {% endfor %}
            </form>
        </table>
    </body>
</html>